In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('meal2.csv')
df

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,region,cost_per_serving_in_inr
0,Rajma Chawal,"Kidney Beans, Rice, Tomato, Onion, Garlic, Spices",385,60.0,12.0,8.0,Vegetarian,NaN,1 medium plate,Punjabi,40.0
1,Chole Bhature,"Chickpeas, Refined Flour, Spices, Onion",450,55.0,15.0,18.0,Vegetarian,NaN,1 plate,Punjabi,50.0
2,Aloo Paratha,"Wheat Flour, Potato, Spices, Butter",290,35.0,6.0,12.0,Vegetarian,NaN,1 paratha,Punjabi,25.0
3,Palak Paneer,"Spinach, Paneer, Onion, Tomato, Spices",300,14.0,16.0,18.0,Vegetarian,NaN,1 bowl,Punjabi,45.0
4,Butter Chicken,"Chicken, Butter, Cream, Tomato, Spices",490,18.0,28.0,32.0,Non-Vegetarian,dinner,1 bowl,Punjabi,80.0
...,...,...,...,...,...,...,...,...,...,...,...
670,Sweet Potato Chaat,"Sweet Potato, Spices, Lemon Juice",180,30.0,3.0,5.0,Vegetarian,Snack,1 bowl,Pan India,30.0
671,"Fruit Salad (Banana, apple, mango,blueberry)","Banana, apple, mango,blueberry",120,30.0,2.0,1.0,vegetarian,Snack,1 bowl,Pan India,60.0
672,Basmati Rice,"Basmati Rice, Water",220,45.0,5.0,2.0,Vegetarian,Lunch,1 cup cooked,Pan India,30.0
673,Quinoa Pulao,"Quinoa, Vegetables, Spices",250,35.0,10.0,8.0,Vegetarian,Lunch,1 bowl,Pan India,45.0
674,Whey Protein Shake,"Whey Protein, Milk/Water",150,5.0,25.0,2.0,Vegetarian,Post-Workout,1 shake,Pan India,50.0

In [26]:
df['region'].unique()

array(['Punjabi', 'North Indian', 'Bihari', 'UP/Bihari', 'Kashmiri',
       'Lucknowi', 'Maharashtrian', 'Rajasthan', 'Gujarati', 'Bengali',
       'Nepalese', 'North East', 'Sindhi', 'Goan', 'Rajasthani',
       'Mughlai', 'UP', 'Himachal Pradesh', 'Awadhi', 'Odia',
       'Uttarakhand', 'Agra', 'Karnataka', 'Andhra Pradesh', 'Tamil Nadu',
       'Kerala', 'Hyderabad', 'South Indian', 'Kerala/Tamil Nadu',
       'All India', 'Karnataka/Maharashtra', 'Andhra Pradesh/Maharashtra',
       'North India', 'Pan India', 'Agra, North India', 'West', 'Punjab',
       'Maharashtra', 'Odisha', 'West Bengal', 'Assam', 'Hyderabadi',
       'Andhra', 'Goa', 'Gujarat', 'Bengal', 'Manipur', 'Nagaland',
       'UP/Bihar', 'Kashmir', 'South India', 'Konkan', 'Madhya Pradesh',
       'Fusion', 'Mediterranean'], dtype=object)

In [27]:
# Define a mapping for regions
north_indian_regions = [
    'Punjabi', 'North Indian', 'Bihari', 'UP/Bihari', 'Kashmiri', 'Lucknowi',
    'Maharashtrian', 'Rajasthan', 'Gujarati', 'Bengali', 'Nepalese', 'North East',
    'Sindhi', 'Goan', 'Rajasthani', 'Mughlai', 'UP', 'Himachal Pradesh', 'Awadhi',
    'Odia', 'Uttarakhand', 'Agra', 'North India', 'Pan India', 'Agra, North India',
    'Madhya Pradesh', 'Fusion'
]

south_indian_regions = [
    'Karnataka', 'Andhra Pradesh', 'Tamil Nadu', 'Kerala', 'Hyderabad',
    'South Indian', 'Kerala/Tamil Nadu', 'Karnataka/Maharashtra',
    'Andhra Pradesh/Maharashtra', 'Hyderabadi', 'Andhra', 'Goa', 'South India',
    'Konkan'
]

# Map regions to "North Indian" or "South Indian"
def map_region(region):
    if region in north_indian_regions:
        return 'North Indian'
    elif region in south_indian_regions:
        return 'South Indian'
    else:
        return 'Other'

# Apply the mapping
df['region_category'] = df['region'].apply(map_region)

### region has been broken down to only two categories - north and south

In [28]:
df

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,region,cost_per_serving_in_inr,region_category
0,Rajma Chawal,"Kidney Beans, Rice, Tomato, Onion, Garlic, Spices",385,60.0,12.0,8.0,Vegetarian,NaN,1 medium plate,Punjabi,40.0,North Indian
1,Chole Bhature,"Chickpeas, Refined Flour, Spices, Onion",450,55.0,15.0,18.0,Vegetarian,NaN,1 plate,Punjabi,50.0,North Indian
2,Aloo Paratha,"Wheat Flour, Potato, Spices, Butter",290,35.0,6.0,12.0,Vegetarian,NaN,1 paratha,Punjabi,25.0,North Indian
3,Palak Paneer,"Spinach, Paneer, Onion, Tomato, Spices",300,14.0,16.0,18.0,Vegetarian,NaN,1 bowl,Punjabi,45.0,North Indian
4,Butter Chicken,"Chicken, Butter, Cream, Tomato, Spices",490,18.0,28.0,32.0,Non-Vegetarian,dinner,1 bowl,Punjabi,80.0,North Indian
...,...,...,...,...,...,...,...,...,...,...,...,...
670,Sweet Potato Chaat,"Sweet Potato, Spices, Lemon Juice",180,30.0,3.0,5.0,Vegetarian,Snack,1 bowl,Pan India,30.0,North Indian
671,"Fruit Salad (Banana, apple, mango,blueberry)","Banana, apple, mango,blueberry",120,30.0,2.0,1.0,vegetarian,Snack,1 bowl,Pan India,60.0,North Indian
672,Basmati Rice,"Basmati Rice, Water",220,45.0,5.0,2.0,Vegetarian,Lunch,1 cup cooked,Pan India,30.0,North Indian
673,Quinoa Pulao,"Quinoa, Vegetables, Spices",250,35.0,10.0,8.0,Vegetarian,Lunch,1 bowl,Pan India,45.0,North Indian
674,Whey Protein Shake,"Whey Protein, Milk/Water",150,5.0,25.0,2.0,Vegetarian,Post-Workout,1 shake,Pan India,50.0,North Indian

In [29]:
df.drop(columns=['region'], inplace=True)
df.rename(columns={'region_category': 'region'}, inplace=True)

In [30]:
df['meal_time'].unique()

array([nan, 'dinner', 'breakfast/snacks', 'breakfast/lunch', 'breakfast',
       'snacks', 'dessert', 'beverage', 'salad', 'side dish', 'Snacks',
       'Dessert', 'Dessert/Snacks', 'Beverage/Snacks', 'Breakfast',
       'Snack', 'Lunch', 'Dinner', 'Lunch/Dinner', 'Side Dish',
       'Breakfast/Snack', 'Lunch/Snack', 'Post-Workout'], dtype=object)

In [31]:
# Define mappings for meal_time categories
breakfast_keywords = ['breakfast', 'Breakfast', 'Breakfast/Snack', 'breakfast/snacks', 'breakfast/lunch']
lunch_keywords = ['lunch', 'Lunch', 'Lunch/Dinner', 'Lunch/Snack']
dinner_keywords = ['dinner', 'Dinner', 'Lunch/Dinner']
snacks_keywords = ['snacks', 'Snack', 'Snacks', 'Dessert', 'Dessert/Snacks', 'Beverage/Snacks', 'Post-Workout', 'Side Dish', 'salad', 'side dish', 'beverage']

# Function to map meal_time to categories
def map_meal_time(meal_time):
    categories = []
    if isinstance(meal_time, str):  # Check if meal_time is a string
        meal_time_lower = meal_time.lower()
        if any(keyword in meal_time_lower for keyword in breakfast_keywords):
            categories.append('breakfast')
        if any(keyword in meal_time_lower for keyword in lunch_keywords):
            categories.append('lunch')
        if any(keyword in meal_time_lower for keyword in dinner_keywords):
            categories.append('dinner')
        if any(keyword in meal_time_lower for keyword in snacks_keywords):
            categories.append('snacks')
    return categories if categories else ['other']  # Default to 'other' if no match

# Apply the mapping to the meal_time column
df['meal_time_categories'] = df['meal_time'].apply(map_meal_time)

In [32]:
df.sample(10)

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,cost_per_serving_in_inr,region,meal_time_categories
184,Kos kootu,"Carrot, Coconut, Spices",100,10.0,2.0,5.0,Vegetarian,NaN,1 bowl,15.0,South Indian,[other]
496,Halvasan,"Wheat flour, milk, sugar, ghee",320,40.0,6.0,16.0,Vegetarian,Dessert,1 piece,50.0,Other,[other]
177,Keerai poriyal,"Spinach, Coconut, Spices",100,8.0,2.0,5.0,Vegetarian,NaN,1 bowl,15.0,South Indian,[other]
602,Gujarati Kadhi,"Yogurt, Gram Flour, Spices, Jaggery",180,20.0,6.0,8.0,Vegetarian,Lunch,1 bowl,30.0,Other,[lunch]
300,Ghevar,"Refined flour (maida), ghee, sugar syrup, card...",300,45.0,3.0,12.0,Veg,Dessert,1 piece (120g),50.0,North Indian,[other]
50,Machher Jhol,"Fish, Potato, Tomato, Spices",220,10.0,20.0,10.0,Non-Vegetarian,NaN,1 bowl,60.0,North Indian,[other]
518,Undhiyu,"Mixed vegetables, spices, herbs",250,30.0,8.0,10.0,Vegetarian,Lunch,1 bowl,40.0,Other,[lunch]
10,Litti Chokha,"Wheat Flour, Sattu, Brinjal, Potato, Tomato",360,50.0,10.0,12.0,Vegetarian,NaN,3 littis with chokha,25.0,North Indian,[other]
39,Litti Chokha,"Wheat Flour, Sattu, Brinjal, Potato, Tomato, S...",320,8.0,15.0,35.0,Vegetarian,NaN,3 littis with chokha,30.0,North Indian,[other]
567,Masoor Dal Tadka with Basmati Rice,"Red Lentils, Onion, Tomato, Spices, Rice",400,50.0,15.0,10.0,Vegetarian,Lunch,1 bowl + 1 plate,50.0,North Indian,[lunch]

In [33]:
df.drop(columns=['meal_time_categories'], inplace=True)

In [35]:
df

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,cost_per_serving_in_inr,region
0,Rajma Chawal,"Kidney Beans, Rice, Tomato, Onion, Garlic, Spices",385,60.0,12.0,8.0,Vegetarian,NaN,1 medium plate,40.0,North Indian
1,Chole Bhature,"Chickpeas, Refined Flour, Spices, Onion",450,55.0,15.0,18.0,Vegetarian,NaN,1 plate,50.0,North Indian
2,Aloo Paratha,"Wheat Flour, Potato, Spices, Butter",290,35.0,6.0,12.0,Vegetarian,NaN,1 paratha,25.0,North Indian
3,Palak Paneer,"Spinach, Paneer, Onion, Tomato, Spices",300,14.0,16.0,18.0,Vegetarian,NaN,1 bowl,45.0,North Indian
4,Butter Chicken,"Chicken, Butter, Cream, Tomato, Spices",490,18.0,28.0,32.0,Non-Vegetarian,dinner,1 bowl,80.0,North Indian
...,...,...,...,...,...,...,...,...,...,...,...
670,Sweet Potato Chaat,"Sweet Potato, Spices, Lemon Juice",180,30.0,3.0,5.0,Vegetarian,Snack,1 bowl,30.0,North Indian
671,"Fruit Salad (Banana, apple, mango,blueberry)","Banana, apple, mango,blueberry",120,30.0,2.0,1.0,vegetarian,Snack,1 bowl,60.0,North Indian
672,Basmati Rice,"Basmati Rice, Water",220,45.0,5.0,2.0,Vegetarian,Lunch,1 cup cooked,30.0,North Indian
673,Quinoa Pulao,"Quinoa, Vegetables, Spices",250,35.0,10.0,8.0,Vegetarian,Lunch,1 bowl,45.0,North Indian
674,Whey Protein Shake,"Whey Protein, Milk/Water",150,5.0,25.0,2.0,Vegetarian,Post-Workout,1 shake,50.0,North Indian

In [76]:
l =df[df.duplicated(subset='meal_name')]['meal_name'].unique()

In [131]:
df[df['meal_name'] == l[50]]

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,cost_per_serving_in_inr,region
26,Paneer Tikka,"Paneer, Yogurt, Ginger, Garlic, Spices",280,18.0,20.0,8.0,Vegetarian,snacks,6 pieces,90.0,North Indian
532,Paneer Tikka,"Paneer, Yogurt, Spices",280,12.0,18.0,20.0,Vegetarian,Dinner,6 pieces,90.0,North Indian

In [132]:
row = [169,176,365,187,189,296,194,216,217,220,34,22,185,46,25,48,14,52,54,3,293,18,533,65,81,302,303,120,122,127,131,133,140,143,142,145,147,320,153,324,155,156,157,158,329,330,166,168,179,178,182,378,395,103,448,415,26]

In [77]:
len(l)

51

In [133]:
df.drop(index=row, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,cost_per_serving_in_inr,region
0,Chole Bhature,"Chickpeas, Refined Flour, Spices, Onion",450,55.0,15.0,18.0,Vegetarian,NaN,1 plate,50.0,North Indian
1,Aloo Paratha,"Wheat Flour, Potato, Spices, Butter",290,35.0,6.0,12.0,Vegetarian,NaN,1 paratha,25.0,North Indian
2,Butter Chicken,"Chicken, Butter, Cream, Tomato, Spices",490,18.0,28.0,32.0,Non-Vegetarian,dinner,1 bowl,80.0,North Indian
3,Kadhi Pakora,"Besan, Curd, Spices, Onion",260,20.0,8.0,16.0,Vegetarian,NaN,1 bowl,30.0,North Indian
4,Litti Chokha,"Wheat Flour, Sattu, Brinjal, Potato, Tomato",360,50.0,10.0,12.0,Vegetarian,NaN,3 littis with chokha,25.0,North Indian
...,...,...,...,...,...,...,...,...,...,...,...
483,Oats Porridge,"Oats, Milk, Sugar/Honey",150,25.0,5.0,3.0,Vegetarian,Breakfast,1 bowl,30.0,North Indian
484,Sweet Potato Chaat,"Sweet Potato, Spices, Lemon Juice",180,30.0,3.0,5.0,Vegetarian,Snack,1 bowl,30.0,North Indian
485,"Fruit Salad (Banana, apple, mango,blueberry)","Banana, apple, mango,blueberry",120,30.0,2.0,1.0,vegetarian,Snack,1 bowl,60.0,North Indian
486,Basmati Rice,"Basmati Rice, Water",220,45.0,5.0,2.0,Vegetarian,Lunch,1 cup cooked,30.0,North Indian
487,Quinoa Pulao,"Quinoa, Vegetables, Spices",250,35.0,10.0,8.0,Vegetarian,Lunch,1 bowl,45.0,North Indian

In [134]:
df.to_csv('meal3_cleaned.csv', index=False)

In [75]:
df.drop_duplicates(keep='first', inplace=True)
df.reset_index(drop=True, inplace=True)
df

,meal_name,ingredients,calories_per_serving,carbs,proteins,fats,diet_type,meal_time,serving_size,cost_per_serving_in_inr,region
0,Chole Bhature,"Chickpeas, Refined Flour, Spices, Onion",450,55.0,15.0,18.0,Vegetarian,NaN,1 plate,50.0,North Indian
1,Aloo Paratha,"Wheat Flour, Potato, Spices, Butter",290,35.0,6.0,12.0,Vegetarian,NaN,1 paratha,25.0,North Indian
2,Butter Chicken,"Chicken, Butter, Cream, Tomato, Spices",490,18.0,28.0,32.0,Non-Vegetarian,dinner,1 bowl,80.0,North Indian
3,Dal Makhani,"Black Lentils, Cream, Butter, Spices",320,26.0,14.0,18.0,Vegetarian,NaN,1 bowl,35.0,North Indian
4,Kadhi Pakora,"Besan, Curd, Spices, Onion",260,20.0,8.0,16.0,Vegetarian,NaN,1 bowl,30.0,North Indian
...,...,...,...,...,...,...,...,...,...,...,...
540,Oats Porridge,"Oats, Milk, Sugar/Honey",150,25.0,5.0,3.0,Vegetarian,Breakfast,1 bowl,30.0,North Indian
541,Sweet Potato Chaat,"Sweet Potato, Spices, Lemon Juice",180,30.0,3.0,5.0,Vegetarian,Snack,1 bowl,30.0,North Indian
542,"Fruit Salad (Banana, apple, mango,blueberry)","Banana, apple, mango,blueberry",120,30.0,2.0,1.0,vegetarian,Snack,1 bowl,60.0,North Indian
543,Basmati Rice,"Basmati Rice, Water",220,45.0,5.0,2.0,Vegetarian,Lunch,1 cup cooked,30.0,North Indian
544,Quinoa Pulao,"Quinoa, Vegetables, Spices",250,35.0,10.0,8.0,Vegetarian,Lunch,1 bowl,45.0,North Indian

In [ ]:
df